imbalanced_learn==0.13.0
joblib==1.5.1
matplotlib==3.10.3
numpy==2.3.0
pandas==2.3.0
protobuf==6.31.1
scikit_learn==1.6.0  # Ubah dari 1.7.0 jadi 1.6.0 (masalah dependensi dengan imbalanced_learn)
seaborn==0.13.2
xgboost==3.0.2
